<div>
    <nav class="fixed-top sub-nav">
        <nav class="navbar">
            <button type="button"
                    class="btn btn-danger"
                    ng-click="$ctrl.deleteWine($ctrl.wine.id)">Remove
            </button>
        </nav>
    </nav>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block avatar">
                    <img ng-src="{{$ctrl.wine.label}}" class="circle"/>
                    <h5 class="card-title" ng-bind="$ctrl.wine.name"></h5>
                    <p class="card-text">
                        <span ng-bind="$ctrl.wine.vineyard"></span><br/>
                        <span ng-bind="$ctrl.wine.vintage"></span>
                    </p>
                </div>
            </div>
            <form name="form" novalidate>
                <div class="form-group">
            <textarea
                    name="comments"
                    class="form-control"
                    placeholder="Comments..."
                    ng-model="$ctrl.wine.comments"
                    rows="10"></textarea>
                </div>
                <button ng-show="form.comments.$dirty"
                        type="button"
                        class="btn btn-primary btn-block"
                        ng-click="$ctrl.updateComment($ctrl.wine.id, $ctrl.wine.comments)">Done
                </button>
                <button ng-show="!form.comments.$dirty"
                        type="button"
                        class="btn btn-primary btn-block"
                        ui-sref="wines">Done
                </button>
            </form>
        </div>
    </div>
</div>