<div>
    <nav class="fixed-top sub-nav">
        <nav class="navbar">
            <form class="input-group" ng-submit="$ctrl.searchWine()">
                <input type="text"
                       class="form-control"
                       placeholder="Search..."
                       ng-model="$ctrl.query">
                <span class="input-group-btn">
                <button class="btn btn-secondary"
                        type="button"
                        ng-click="$ctrl.searchWine()">Go!</button>
            </span>
            </form>
        </nav>
    </nav>

    <div class="row">
        <div class="col-sm-12" ng-repeat="wine in $ctrl.searchResult track by $index">
            <div class="card" ng-click="$ctrl.addWine(wine)">
                <div class="card-block avatar">
                    <img ng-src="{{wine.Labels[0].Url}}" class="circle"/>
                    <h5 class="card-title" ng-bind="wine.Name"></h5>
                    <p class="card-text">
                        <span ng-bind="wine.Vineyard.Name"></span><br/>
                        <span ng-bind="wine.Vintage"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" role="info" ng-if="$ctrl.pageLoad">
        <h4 class="alert-heading">Search on Wine.com</h4>
        <p>Wine. com is the USA #1 online wine retailer offering thousands of wines, wine gifts, gift
            baskets and monthly wine clubs.</p>
    </div>

    <div class="alert alert-success" role="info" ng-if="$ctrl.wineAdded">
        <h4 class="alert-heading">Well done!</h4>
        <p>You successfully added this wine to your list.</p>
        <button type="button" class="btn btn-primary btn-block" ui-sref="details({ wineId: $ctrl.wineId })">Add details
        </button>
    </div>

    <div class="alert alert-danger" role="info" ng-if="$ctrl.noSearchResults">
        <h4 class="alert-heading">Oh snap!</h4>
        <p>Change a few things up and try searching again.</p>
    </div>
</div>